body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ui {
    font-family: "Muli", "Helvetica", "Arial", sans-serif !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.fullh {
    height: 100vh;
}

.ui.input.header-input {
    width: 100%;
    max-width: 700px;
}

.ui.form > .ui.input.header-input > input {
    border-width: 2px;
    border-color: #fff;
    background-color: #00acc1;
    color: #fff;
    font-size: 1.5rem;
    padding: 1.25rem 1.5rem;
}

.ui.input.header-input > input::placeholder {
    color: #efefef;
}

.ui.loading.loading.input>i.icon:before {
    border: .2em solid rgba(255, 255, 255, 1.0); 
}

.ui.loading.loading.input>i.icon:after {
    border-color: rgba(0, 172, 193, 1.0) transparent transparent;
}
